body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}

.app-container.dark {
  background-color: #111;
  color: #eee;
}

.trackers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}